# Special MacOS folder Icon file 
# https://stackoverflow.com/questions/17556250/how-to-ignore-icon-in-git
Icon
Icon.meta

# Other
/package-browser-info.json
.DS_Store
*/Plugins/Sirenix/*
*/Plugins/Sirenix.meta

